* {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: black;
}

h1 {
    padding-top: 1.5%;
    padding-left: 3%;
    font-size: 4.5rem;
    color: white;
}

h2 {
    padding-left: 3%;
    font-size: 2.75rem;
    color: rgb(179, 24, 24);
}

.code {
    position: absolute;
    bottom: 25px;
    left: 1%;
    height: auto;
    width: 8%;
    max-width: 150px;
}

.binary-map {
    position: absolute;
    right: 0;
    height: 70%;
    right: 5%;
    top: 25%;
    max-width: 700px;
}

.navbar {
    background-color: black;
    height: 80px;
    width: 100%;
    z-index: 100;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 1.5vw;
}

nav ul li a {
    text-decoration: none;
    color: rgb(179, 24, 24);
}

nav a:hover {
    border-bottom: 2px solid white;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgb(179, 24, 24);
}